In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

trainDatasetfilePath = 'https://raw.githubusercontent.com/shekharmnnit/ML/main/Customer%20Churn%20Dataset/customer_churn_dataset-training-master.csv'
testDatasetPath= 'https://raw.githubusercontent.com/shekharmnnit/ML/main/Customer%20Churn%20Dataset/customer_churn_dataset-testing-master.csv'
training_df = pd.read_csv(trainDatasetfilePath)
testing_df = pd.read_csv(testDatasetPath)
print("----Training Data set----------")
print(training_df.head(5).to_string())
print(f"Number of observation in training dataset: {training_df.shape[0]}")
print("Null value count")
print(training_df.isna().sum())
print(f"Training: Total number of rows with null value = {training_df.isna().sum().sum()}")

print("----Testing Data set----------")
print(testing_df.head(5).to_string())
print(f"Number of observation in test dataset: {testing_df.shape[0]}")
print("Null value count")
print(testing_df.isna().sum())
print(f"Testing: Total number of rows with null value = {testing_df.isna().sum().sum()}")

print('-------------------Train Data cleaning-------------------')
print(training_df[training_df['Age'].isna()].to_string()) # row detail with na value
print("199295 row has null value for all the columns, so removing 199295")
training_df = training_df.drop(training_df[training_df['Age'].isna()].index)
print(training_df.isna().sum())

----Training Data set----------
   CustomerID   Age  Gender  Tenure  Usage Frequency  Support Calls  Payment Delay Subscription Type Contract Length  Total Spend  Last Interaction  Churn
0         2.0  30.0  Female    39.0             14.0            5.0           18.0          Standard          Annual        932.0              17.0    1.0
1         3.0  65.0  Female    49.0              1.0           10.0            8.0             Basic         Monthly        557.0               6.0    1.0
2         4.0  55.0  Female    14.0              4.0            6.0           18.0             Basic       Quarterly        185.0               3.0    1.0
3         5.0  58.0    Male    38.0             21.0            7.0            7.0          Standard         Monthly        396.0              29.0    1.0
4         6.0  23.0    Male    32.0             20.0            5.0            8.0             Basic         Monthly        617.0              20.0    1.0
Number of observation in training dataset: 440833
Null value count
CustomerID           1
Age                  1
Gender               1
Tenure               1
Usage Frequency      1
Support Calls        1
Payment Delay        1
Subscription Type    1
Contract Length      1
Total Spend          1
Last Interaction     1
Churn                1
dtype: int64
Training: Total number of rows with null value = 12
----Testing Data set----------
   CustomerID  Age  Gender  Tenure  Usage Frequency  Support Calls  Payment Delay Subscription Type Contract Length  Total Spend  Last Interaction  Churn
0           1   22  Female      25               14              4             27             Basic         Monthly          598                 9      1
1           2   41  Female      28               28              7             13          Standard         Monthly          584                20      0
2           3   47    Male      27               10              2             29           Premium          Annual          757                21      0
3           4   35    Male       9               12              5             17           Premium       Quarterly          232                18      0
4           5   53  Female      58               24              9              2          Standard          Annual          533                18      0
Number of observation in test dataset: 64374
Null value count
CustomerID           0
Age                  0
Gender               0
Tenure               0
Usage Frequency      0
Support Calls        0
Payment Delay        0
Subscription Type    0
Contract Length      0
Total Spend          0
Last Interaction     0
Churn                0
dtype: int64
Testing: Total number of rows with null value = 0
-------------------Train Data cleaning-------------------
        CustomerID  Age Gender  Tenure  Usage Frequency  Support Calls  Payment Delay Subscription Type Contract Length  Total Spend  Last Interaction  Churn
199295         NaN  NaN    NaN     NaN              NaN            NaN            NaN               NaN             NaN          NaN               NaN    NaN
199295 row has null value for all the columns, so removing 199295
CustomerID           0
Age                  0
Gender               0
Tenure               0
Usage Frequency      0
Support Calls        0
Payment Delay        0
Subscription Type    0
Contract Length      0
Total Spend          0
Last Interaction     0
Churn                0
dtype: int64

In [2]:
training_df.duplicated().sum()

0